*{
    box-sizing: border-box;
    /* 元素的总宽度和高度包含内边框和内边距 */
}
input,button{
    box-shadow: none;
    border: none;
    outline: none;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
}

/* top start */
/* ************************************************************* */
/* background start */
.top{
    /* display: none; */
    position: relative;
    width: 100%;
    min-width: 1000px;
    height: 850px;
    top: 0;
    left: 0;
    animation: move 30s linear infinite;
    -webkit-animation: move 30s linear infinite;
    /* move：动画名称。infinite：代表执行次数，这里指无限次 */

}
@keyframes move {
    0%{
    background: url(../img/diy_1.jpg) no-repeat;
  	background-size:100% 100%;
  	}
    20%{
    background: url(../img/diy_2.jpg) no-repeat;
  	background-size:100% 100%;
  }
    40%{
  	background: url(../img/diy_5.jpg) no-repeat;
  	background-size:100% 100%; 
  	}
    60%{
    background: url(../img/diy_7.jpg) no-repeat;
  	background-size:100% 100%;
  }
    80%{
  	background: url(../img/diy_6.jpg) no-repeat;
  	background-size:100% 100%; 
  	} 
    100%{
  	background: url(../img/diy_1.jpg) no-repeat;
  	background-size:100% 100%; 
  	} 
}
@-webkit-keyframes  move {
    0%{
    background: url(../img/diy_1.jpg) no-repeat;
  	background-size:100% 100%;
  	}
    20%{
    background: url(../img/diy_2.jpg) no-repeat;
  	background-size:100% 100%;
  }
    40%{
  	background: url(../img/diy_5.jpg) no-repeat;
  	background-size:100% 100%; 
  	}
    60%{
    background: url(../img/diy_7.jpg) no-repeat;
  	background-size:100% 100%;
  }
    80%{
  	background: url(../img/diy_6.jpg) no-repeat;
  	background-size:100% 100%; 
  	} 
    100%{
  	background: url(../img/diy_1.jpg) no-repeat;
  	background-size:100% 100%; 
  	} 
}
/* background end */

.head{
    position:absolute;
    left: 160px;
    top: 60px;
    height: 90px;
    width: 1200px;
    margin: auto;
    display: flex;
}
.head .head_left span{
    padding-left: 2px;
    color: rgb(81, 81,  81);
    font-size: 3em;
    line-height: 80px;
}
.inner{
    flex: 1;
    display: flex;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 2;
}
.inner div>span{
    margin: 30px;
    display: flex;
    font-size: 1.8em;
    color: rgb(81, 81, 81) ;
    transition: 0.5s;
}
.head .sou{
    position: absolute;
    top: 19px;
    left: -190px;
    display: flex;
    width: 200px;
    height: 60%;
    z-index: -1;
    transition: 0.5s;
    border-radius: 15px;
    overflow: hidden;
    transform: translateX(200px);
    opacity: 0;
}
.head .sou input{
    width: 80%;
    height: 100%; 
    background: rgba(255, 255, 255, 0.2); 
    font-size: 1em;
    padding: 0 10px;
}
.head .sou input::-webkit-input-placeholder{
    color: blueviolet;
}
.head .sou button{
    width: 20%;
    background: rgba(255, 255, 255, 0.2);
}
.head .sou button>span{
    font-size: 1.8em;
    color: blueviolet;
}
.inner .sousuo:hover .sou{
    transform: translateX(0);
}
.inner .sousuo:hover .sou{
    transition-delay: 0.4s;
    opacity: 1;
}
.head .wei{
    position: absolute;
    background-color: red;
    top: 1px;
    left: -90px;
    display: flex;
    width: 90px;
    height: 90px;
    z-index: -1;
    transition: 0.5s;
    border-radius: 3px;
    overflow: hidden;
    transform: translateX(200px);
    opacity: 0;
}
.head .wei img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inner .weixin:hover .wei{
    transform: translateX(0);
}
.inner .weixin:hover .wei{
    transition-delay: 0.4s;
    opacity: 1;
}
.inner span:hover{
    transform: scale(1.5);
}

.head_button{
    position: relative;
    top: 170px;
    margin: auto;
    height: 70px;
    width: 1200px;
    display: flex;
    border-radius: 5px;
}
.head_button input{
    width: 400px;
    height: 100%;
    border: 0;
    padding: 0 20px;
    font-size: 1.2em;
    float: left;
    /* opacity: 0.6; */
    background: rgba(255, 255, 255,0.5);
    border-radius: 5px;
    box-sizing: border-box;
}
.head_button input::-webkit-input-placeholder{
    color: blueviolet;
}
.input_right{
    width: 800px;
    height: 100%;
    background-color: blueviolet;
    position: relative;
    border-radius: 5px 0 0 5px;
}
.input_right ul{
    display: flex;
}
.input_right ul>li{
    width: 200px;
    height: 90px;
    font-size: 1.5em;
    display: flex;
    /* background-color: #1972ea; */
    flex: 1 1;
    /* 平均分布 */
}
.input_right ul>li:last-child{
    margin-right: 0;
}
.input_right ul>li>a{
    color: #333;
    /* transition: 1s; */
}
.input_right ul>li>a:hover{
    color: #1972ea;
}
.input_right ul>li>.span{
    padding-bottom: 3px;
    color: #333;
    transition: 0.5s;
}
.input_right ul>li:hover .span{
    transform: rotatex(90deg);
}
.input_right ul>li:hover .sub_nav_div{
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.sub_nav_div{
    width: 800px;
    position: absolute;
    left: 0;
    top: 70px;
    display: none;
    /* display: flex; */
    background-color: rgba(195, 181, 195, 0.721);
}
.sub_nav{
    /* display: none; */
    flex: 1;
    /* 填充满 */
    padding: 10px 0 20px 0;
}
.sub_nav_item{
    /* display: none; */
    font-size: 0.8em;
}
.sub_nav_item ol>li{
    line-height: 2em;
}
.sub_nav_item ol>li>a:hover{
    color: #1972ea;
}
.head_right{
    background-color: rgba(195, 181, 195, 0.721);
    width:  54px;
    height: auto;
    position: absolute;
    margin: 0;
    top: 200px;
    right: 0;
    border-radius: 15px 0 0 15px;
    /* display: flex; */
}
.bottom_span{
    margin: 20px 3px 10px 10px;
    transition: 0.5s;
}
.bottom_span span{
    color:blueviolet;
    font-size: 2em;
    /* z-index: 3; */
}
.bottom_span:hover{
    transform: scale(2);
    box-shadow: 0 5px 5px rgb(52, 47, 52);
}

.head_bottom{
    /* align-items: center; */
    /* justify-content: center; */
    /* 居中 */
    /* 渐变背景 */
    /* background: linear-gradient(200deg,#e7f0fd,#accbee); */
    position: absolute;
    bottom: 110px;
    left: 200px;
    display: flex;
    flex-direction: row;
    /* 横向排列 */
    flex-wrap: wrap;
    /* 允许换行 */
}
.head_bottom .box{
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: 0.5s;
}
.head_bottom .box:hover{
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 确保首先显示 */
}
.head_bottom .box .img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.head_bottom .box .img.img::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to top,#222,transparent);
    /* 渐变遮罩 */
    opacity: 0;
    transition: 0.5s;
}
.head_bottom .box:hover .img::before{
    opacity: 1;
}
.head_bottom .box .img img{
    position: absolute;
    left: 9;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 保持原比例，裁剪多余 */
}
.head_bottom .box .text{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    padding: 20px;
    /* display: flex; */
    align-items: flex-end;
    /* 位于容器尾部显示 */
    color: #fff;
    z-index: 2;
}
.head_bottom .box .text h2{
    font-size: 20px;
    margin-bottom: 10px;
    transform: translateY(400px);
    /* 默认移除可视范围 */
    transition: 0.5s;
}
.head_bottom .box:hover .text h2{
    transform: translateY(80px);
    transition-delay: 0.3s;
}
.head_bottom .box .text p{
    font-size: 13px;
    line-height: 20px;
    transform: translateY(400px);
    /* 默认移除可视范围 */
    transition: 0.5s;
}
.head_bottom .box:hover .text p{
    transform: translateY(90px);
    transition-delay: 0.4s;
}
/* top :end */
/* ************************************************************ */

/* ************************************************************** */
/* main start */
.main{
    margin-top: 150px;
    width: 100%;;
    height: 100em;
    position: relative;
}
.main .background{
    background: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 550px;
    width: 100%;
    /* position: absolute; */
    z-index: -10;
}
.main_left{
    width: 660px;
    height: 550px;
    background-color: #eee;
    position: absolute;
    top: -80px;
    left:160px;
    display: flex;
}
.main_left .left{
    margin: 10px;
    width: 290px;
    height: 100%;
    position: relative;
} 
.main_left .left h2{
    margin: 10px;
}
.main_left .img_box{
    position: absolute;
    top: 80px;
    width: 320px;
    height: 245px;
    background-color: #1972ea;
}
.main_left .img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_left .left h3{
    position: absolute;
    top: 330px
}
.main_left .left p{
    position: absolute;
    top: 370px;
}
.main_left .right{
    position: absolute;
    top: 60px;
    left: 350px;
    width: 300px;
    height: 100%;
}
.main_right{
    position: absolute;
    top: -80px;
    right: 160px;
    width: 500px;
    height: 550px;
    background-color: #eee;
    padding-left: 40px;
}
.main_right ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.main_right ul>li{
    flex:1;
    margin-top:25px;
    height: 80px;
}
.main_right ul>li>a{
    font-size: 1.5em;
    color: #222;
    transition: 0.4s;
}
.main_right ul>li>a:hover{
    font-size: 1.7em;
    color: #1972ea;
}
.main_right ul>li:hover .main_nav_div{
    z-index: 2;
}
.main_right .main_nav_div{
    /* display: none; */
    z-index: 1;
    background-color: #eee;
    position: absolute;
    left: 0;
    top: 80px;
    flex: 1;
    width: 500px;
}
.main_right .main_nav{
    flex: 1 1;
}
.main_right .main_item{
    z-index: 1;;
}
.main_right .main_item li{
    line-height: 4.2em;
}
.main_right .main_item li>a{
    color: #222;
    transition: 0.1s;
}
.main_right .main_item li>a:hover{
    color: #1972ea;
    font-size: 1.1em;
}

/* main end */
/* *************************************************************** */