body{
    margin: 0;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
}

/* background start */
.top{
    position: relative;
    width: 100%;
    min-width: 1000px;
    height: 850px;
    top: 0;
    left: 0;
    /* z-index: -10; */
    /* background:url(https://images.pexels.com/photos/1400136/pexels-photo-1400136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); */
    animation: move 30s linear infinite;
    -webkit-animation: move 30s linear infinite;
    /* move：动画名称。infinite：代表执行次数，这里指无限次 */

}
@keyframes move {
    0%{
    background: url(../img/diy_1.jpg) no-repeat;
  	background-size:100% 100%;
  	}
    20%{
    background: url(../img/diy_2.jpg) no-repeat;
  	background-size:100% 100%;
  }
    40%{
  	background: url(../img/diy_5.jpg) no-repeat;
  	background-size:100% 100%; 
  	}
    60%{
    background: url(../img/diy_7.jpg) no-repeat;
  	background-size:100% 100%;
  }
    80%{
  	background: url(../img/diy_6.jpg) no-repeat;
  	background-size:100% 100%; 
  	} 
    100%{
  	background: url(../img/diy_1.jpg) no-repeat;
  	background-size:100% 100%; 
  	} 
}
@-webkit-keyframes  move {
    0%{
    background: url(../img/diy_1.jpg) no-repeat;
  	background-size:100% 100%;
  	}
    20%{
    background: url(../img/diy_2.jpg) no-repeat;
  	background-size:100% 100%;
  }
    40%{
  	background: url(../img/diy_5.jpg) no-repeat;
  	background-size:100% 100%; 
  	}
    60%{
    background: url(../img/diy_7.jpg) no-repeat;
  	background-size:100% 100%;
  }
    80%{
  	background: url(../img/diy_6.jpg) no-repeat;
  	background-size:100% 100%; 
  	} 
    100%{
  	background: url(../img/diy_1.jpg) no-repeat;
  	background-size:100% 100%; 
  	} 
}
/* background end */

.head{
    position:absolute;
    left: 160px;
    top: 110px;
    height: 90px;
    width: 1200px;
    margin: auto;
}
.head>span{
    padding-left: 2px;
    color: rgb(81, 81,  81);
    font-size: 3em;
    line-height: 40px;
}
.inner{
    /* padding: 10px 0 10px 10px; */
    flex: 1;
    display: flex;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 4px;
}
.inner div{
    transition: 0.5s;
}
.inner div>span{
    margin: 30px 0 30px 60px;
    display: flex;
    font-size: 1.8em;
    color: rgb(81, 81, 81) ;
}
.inner div:hover{
    transform: scale(1.5);
}


.head_button{
    position: relative;
    top: 190px;
    margin: auto;
    height: 70px;
    width: 1200px;
    display: flex;
    border-radius: 5px;
}
.head_button input{
    width: 400px;
    height: 100%;
    border: 0;
    padding: 0 20px;
    font-size: 1.2em;
    float: left;
    opacity: 0.6;
    border-radius: 5px;
    box-sizing: border-box;
}
.input_right{
    width: 800px;
    height: 100%;
    background-color: blueviolet;
    position: relative;
    border-radius: 5px 0 0 5px;
}
.input_right ul{
    display: flex;
}
.input_right ul>li{
    width: 200px;
    height: 90px;
    font-size: 1.5em;
    display: flex;
    /* background-color: #1972ea; */
    flex: 1 1;
    /* 平均分布 */
}
.input_right ul>li:last-child{
    margin-right: 0;
}
.input_right ul>li>a{
    color: #333;
    /* transition: 1s; */
}
.input_right ul>li>a:hover{
    color: #1972ea;
}
.input_right ul>li>.span{
    padding-bottom: 3px;
    color: #333;
    transition: 0.5s;
}
.input_right ul>li:hover .span{
    transform: rotatex(90deg);
}
.input_right ul>li:hover .sub_nav_div{
    display: flex;
}
.sub_nav_div{
    width: 800px;
    position: absolute;
    left: 0;
    top: 70px;
    display: none;
    /* display: flex; */
    background-color: rgba(195, 181, 195, 0.721);
}
.sub_nav{
    /* display: none; */
    flex: 1;
    /* 填充满 */
    padding: 10px 0 20px 0;
}
.sub_nav_item{
    /* display: none; */
    font-size: 0.8em;
}
.sub_nav_item ol>li{
    line-height: 2em;
}
.sub_nav_item ol>li>a:hover{
    color: #1972ea;
}

.main{
    margin-top: 10px;
    width: 100%;;
    background:url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height: 300em;


}